.container {
  margin-top: 1rem;
}

.row {
  justify-content: space-around;
  padding: 1rem;
}

div {
  color: blue;
}

form,
.info {
  background-color: #f7ff03;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 4rem;
}

label,
input,
h3 {
  text-align: center;
}

input,
div {
  border-radius: 5px;
  font-size: x-large;
}

h3,
span {
  margin-top: 1.6rem;
}

#edu-title-div {
  display: flex;
  justify-content: center;
}

span {
  font-size: x-large;
  font-weight: 900;
  margin-left: 0.2rem;
}

span:hover {
  cursor: pointer;
}